# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
myenv/

# Jupyter Notebook
.ipynb_checkpoints

# Model files (large)
# *.h5
# *.pkl

# Data directories
MP_Data/
Dataset/
versi2/dataset/

# IDE
.vscode/
.idea/
*.swp
*.swo
